object_store/src/main/app/file_store_object_store.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

<flow name="Flow1_idempotentWithFilestore" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/OS_FileStore" doc:name="HTTP"/>
        <idempotent-message-filter idExpression="#[message.inboundProperties.'http.query.params'.name]" throwOnUnaccepted="true"  doc:name="Idempotent Message">
            <simple-text-file-store name="FileStoreObjectStore" maxEntries="60" entryTTL="120" expirationInterval="60000" directory="src/test/resources"/>
        </idempotent-message-filter>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="Duplicate  parameter" doc:name="Set Payload" />
        </catch-exception-strategy>
    </flow>
</mule>
