object_store/src/main/app/In_memory_object_store.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <objectstore:config name="ManagedObjectStore"  doc:name="ObjectStore: Connector" partition="name"/>

<flow name="Flow1_idempotentWithInMemoryStore" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/OS_InMemory" doc:name="HTTP"/>
        <idempotent-message-filter idExpression="#[message.inboundProperties.'http.query.params'.name]" throwOnUnaccepted="true"  doc:name="Idempotent Message">
            <in-memory-store name="InMemoryObjectStore" maxEntries="60" entryTTL="120000" expirationInterval="60000"/>
        </idempotent-message-filter>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="Duplicate  parameter" doc:name="Set Payload" />
        </catch-exception-strategy>
    </flow>

</mule>
